# python
__pycache__/
*.pyc
venv/
.pytest_cache/

# env
.env

# node
node_modules/

# ai models
*.pt
*.pth

# logs
*.log

# datasets
datasets/raw/
*.npy
dataset.csv

# local databases
*.db

# docker
*.tar