bcrypt==4.0.1
fastapi==0.126.0
loguru==0.7.3
numpy==2.2.6
pandas==3.0.1
passlib==1.7.4
pydantic==2.12.5
pydantic-settings==2.13.1
python-dotenv==1.0.1
python-jose==3.5.0
scikit-learn==1.8.0
SQLAlchemy==2.0.48
torch==2.10.0
uvicorn==0.38.0
